
html, body {
	margin: 0;
	padding: 0;
}

.header {
    background-image: url("https://cdn2.hubspot.net/hubfs/3379879/Stock%20images/Gray%20banner.png");
    background-blend-mode: luminosity, normal;
	position: relative;
	height: 131px;
}

.client-logo {
	height: 100px;
	margin-left: 1400px;
	margin-top: 30px;
}

.slogan {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 100px;
    position: absolute;
    top: 21px;
    left: 250px;
}

.main-tweet {
	width: 500px;
	margin-right: 10px;
	margin-left: 10px;
	margin-top: -50px;
	position: absolute;
	float: left;
	/*border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    border-color: #E1E8ED;*/
}

#avatar-photo {
    border-radius: 50%;
    border-style: solid;
    border-width: 6px;
    border-color: white;
}

h2.username {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 30px;
	width: 280px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

h3.screen-name {
	font-family: 'Helvetica Neue', sans-serif;
	color: #AAB8C2;
	margin-top: 3px;
}

.all-text {
	float: left;
}

.user-avatar {
	padding-left: 50px;
	float: left;
}

.user-identity {
	padding-left: 230px;
	padding-top: 40px;
}

img.twitter-logo {
	height: 50px;
	margin-top: 15px;
	margin-right: 20px;
}

.tweet-text {
	padding-left: 30px;
	width: 550px
}

.tweet-text h1 {
	font-family: 'Pontano Sans', sans-serif;
	font-size: 50px;
	padding-top: 10px;
}

.timestamp {
	font-family: 'Helvetica Neue', sans-serif;
	font-size: 20px;
	color: #AAB8C2;
	height: 40px;
	padding-top: 15px;
	margin-bottom: 20px;
}

.instructions {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 40px;
    position: absolute;
    left: 50px;
    bottom: 35px;
}

.instruction-logo {
    height: 32px;
    margin-bottom: 2px;
    margin-right: 4px;
    margin-left: 10px;
}

.photo-container {
    border-radius: 15px;
	border-style: solid;
    border-width: 2px;
    border-color: #657786;
    width: 1200px;
    height: 780px;
	margin-left: 570px;
	margin-top: 30px;
	background-size: cover;
	background-position: center center;
}
