
html, body {
	margin: 0;
	padding: 0;
}

.header {
    background-image: url("https://previews.123rf.com/images/ryanking999/ryanking9991206/ryanking999120600075/14097567-abstract-Traditional-Chinese-painting-art-on-grey-paper-texture-with-empty-copy-space-great-for-back-Stock-Photo.jpg");
    background-blend-mode: luminosity, normal;
	position: relative;
	height: 205px;
}

.client-logo {
	height: 100px;
	margin-left: 240px;
	margin-top: 45px;
}

.slogan {
    font-family: 'Helvetica Neue', sans-serif;
    font-weight: bold;
    position: absolute;
    top: 95px;
    left: 720px;
}

.main-tweet {
	width: 500px;
	margin-right: 10px;
	margin-left: 10px;
	position: absolute;
	float: left;
	/*border-style: solid;
    border-width: 2px;
    border-radius: 7px;
    border-color: #E1E8ED;*/
}

.user-info {
    margin-top: 10px;
}

#avatar-photo {
    border-radius: 50%;
    border-style: solid;
    border-width: 6px;
    border-color: white;
}

h2.username {
	font-family: 'Helvetica Neue', sans-serif;
	font-weight: bold;
	margin-bottom: 0;
	margin-top: 30px;
	width: 280px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

h3.screen-name {
	font-family: 'Helvetica Neue', sans-serif;
	color: #AAB8C2;
	margin-top: 3px;
}

.all-text {
	float: left;
}

.user-avatar {
	padding-left: 50px;
	float: left;
}

.user-identity {
	padding-left: 230px;
	padding-top: 40px;
}

img.twitter-logo {
	height: 50px;
	margin-top: 15px;
	margin-right: 20px;
}

.tweet-text {
	padding-left: 60px;
	width: 450px
}

.tweet-text h1 {
	font-family: 'Pontano Sans', sans-serif;
	padding-top: 10px;
}

.timestamp {
	font-family: 'Helvetica Neue', sans-serif;
	color: #AAB8C2;
	height: 40px;
	padding-top: 15px;
	margin-bottom: 20px;
}

.instructions {
    font-family: 'Pontano Sans', sans-serif;
    font-size: 40px;
    position: absolute;
    left: 50px;
    bottom: 35px;
}

.instruction-logo {
    height: 32px;
    margin-bottom: 2px;
    margin-right: 4px;
    margin-left: 10px;
}

.photo-container {
    border-radius: 15px;
	border-style: solid;
    border-width: 2px;
    border-color: #657786;
    width: 1200px;
    height: 720px;
	margin-left: 570px;
	margin-top: 30px;
	background-size: cover;
	background-position: center center;
}
